<div *ngIf="modalService.modal2" class="abrir-modal animacion fadeIn">
    <div class="modal" tabindex="-1" style="display: block">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ titulo }}</h5>
                    <button type="button" class="btn-close" (click)="cerrarModal()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form #passwordForm="ngForm">

                            <div class="form-group row mb-3">
                                <label class="col-form-label col-sm-2">Contraseña Actual:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="oldPassword"
                                        [(ngModel)]="oldPassword" #OldPassword="ngModel" required><!-- required -->
                                    <span class="fa fa-fw fa-eye password-icon show-password"></span>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="OldPassword.invalid && (OldPassword.dirty || OldPassword.touched)">
                                        <div *ngIf="OldPassword.errors?.['required']">
                                            La contraseña es requerida
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label class="col-form-label col-sm-2">Contraseña Nueva:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="newPasswrd"
                                        [(ngModel)]="newPasswrd" #NewPasswrd="ngModel" required><!-- required -->
                                    <span class="fa fa-fw fa-eye password-icon show-password"></span>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="NewPasswrd.invalid && (NewPasswrd.dirty || NewPasswrd.touched)">
                                        <div *ngIf="NewPasswrd.errors?.['required']">
                                            La contraseña es requerida
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label class="col-form-label col-sm-2">Repita Contraseña Nueva:</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="password2" [(ngModel)]="password2"
                                        #Password2="ngModel" required><!-- required -->
                                    <span class="fa fa-fw fa-eye password-icon show-password"></span>
                                    <div class="alert alert-danger mt-2"
                                        *ngIf="Password2.invalid && (Password2.dirty || Password2.touched) || Password2.value!=NewPasswrd.value">
                                        <div *ngIf="Password2.errors?.['required']">
                                            La contraseña es requerida
                                        </div>
                                        <div *ngIf="Password2.value!=NewPasswrd.value">
                                            Las contraseña no son iguales
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close </button>
                    <button (click)="cambiarPassword()" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        [disabled]="!passwordForm.form.valid || Password2.value!=NewPasswrd.value"> Cambiar </button>
                </div>
            </div>
        </div>
    </div>
</div>