/* You can add global styles to this file, and also import other style files */
html{
  position:relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px
}
app-header:nth-child(2){
  min-width: 800px;
}

.wrap{
  padding-bottom: 60px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
td{
  display: table-cell;
  vertical-align: middle;}


  /* You can add global styles to this file, and also import other style files */
/*PRUEBA*/

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}